/* Tudo */
*{
    font-family: 'Roboto', sans-serif;
}

/* Topo */
.iconesDireita{
    gap: 0.5em;
}

.iconesDireita img{
    cursor: pointer;
}

.divLogo{
    gap: 0.5em;
}
.divLogo img{
    cursor: pointer;
}


/* Container */
.flex{
    display: flex;
}

.container{
    flex-direction: column;
}

.container-topo{
    height: 3.5em;
    background-color: aquamarine;
    justify-content: space-evenly;
    align-items: center;
}

.conteudo {
    height: 100vh;
    width: 70%;
    margin: auto;
}

.posts {
    width: 70%;
    background-color: brown;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

.conteudo-posts{
    background-color: antiquewhite;
    height: 100%;
}

.stories{
    margin-top: 3em;
    background-color: rgb(206, 139, 139);
    height: 5em;
    margin-bottom: 2em;
}

.contatos {
    width: 30%;
    background-color: blueviolet;
}