/* Tudo */
*{
    font-family: 'Roboto', sans-serif;
}

/* Container */
.flex{
    display: flex;
}

.container{
    flex-direction: column;
}

.container-topo{
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
}

.conteudo {
    height: 100vh;
    width: 70%;
    margin: auto;
}

.posts {
    width: 70%;
    background-color: brown;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

.conteudo-posts{
    background-color: antiquewhite;
}

.stories{
    background-color: rgb(206, 139, 139);
    height: 5em;
    margin-bottom: 2em;
}

.contatos {
    width: 30%;
    background-color: blueviolet;
}